body{
    height: 100%;
}

.navbar-brand{
    font-weight: 700;
    color: #343a40;
}

section{
    height: calc(100% - 11rem);
    display:flex;
}

.container-fluid{
    margin-top: auto;
    margin-bottom: auto;
}

.card-body{
    text-align: center;
    color: #495057;;
}

a:hover{
    text-decoration:none;
    color: black;
    cursor: pointer;
}

.footer{
    bottom: 0px;
}

.path{
    text-align: center;
    font-weight: 500;
    display: flex;
}

.path_text{
    display: flex;
    color: #004484;
}

.arrow{
    margin-left: 4px;
    margin-right: 4px;
}

.path a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#card:hover{
    background-color: #F8F9FA;
}