<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/main">ValFrame</a>
    </nav>
</header>

<section class="page-section">
    <div class="container-fluid">
        <div class="path">
            <div *ngFor="let i of path" class="path_text">
                <a (click)="searchKey(this.i)"> {{ i.value }} </a>
                <p class="arrow"> > </p>
            </div>
        </div>
        <div class="card-deck justify-content-center">
            <a *ngFor="let key of keys" [ngStyle]="{'pointer-events':disabled===true ? 'none' : 'auto'}" (click)="switchKey(this.key)">
                <div class="card w-500" id="card">
                    <div class="card-body">
                        <div class="card-text">
                            <h3>{{key.value}}</h3>
                            <p *ngFor="let i of key.desc.value">{{i}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<footer class="bg-light py-5">
    <div class="small text-center text-muted">Copyright © 2020</div>
</footer>