<section class="signin_form">
    <a class="navbar-brand" routerLink="app-root">VALFRAME</a>
    <hr class="divider my-4" />

    <section class="container">

        <form (ngSubmit)="onSignIn()">
            <div class="row justify-content-center">
                <div>
                    <label class="text-black-75 font-weight-light mb-0" for="email">Email </label>
                    <input type="email" email="email" id="email" class="form-control form-control-lg"
                        placeholder="Your email.." formControlName="email">
                </div>
            </div>
            <div class="row justify-content-center">
                <div>
                    <label class="text-black-75 font-weight-light mb-0" for="password">Password </label>
                    <input type="password" name="password" class="form-control form-control-lg" id="password"
                        placeholder="Your password.." formControlName="password">
                </div>
            </div>
            <p class="text-danger">{{ errorMessage }}</p>
            <div class="row justify-content-center signin_bloc">
                <input type="submit" value="Log in" class="btn btn-primary btn-xl js-scroll-trigger mb-4 signinbtn"
                    [disabled]="signInForm.invalid">
            </div>
        </form>
    </section>

    <section class="row justify-content-center" id="other">
        <section class="col-sm">
            <p>
                Not a member yet?
                <a routerLink="/auth/sign-up">Sign Up.
                </a>
            </p>
        </section>

        <section class="col-sm">
            <p class="text">
                <a routerLink="" class="lien_forgotPass">Forgot your password?</a>
        </section>
    </section>
</section>