<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/main">ValFrame</a>
</nav>
</header>

<section class="page-section">
<div class="container-fluid">
    <div class="card-deck justify-content-center">
        <a routerLink="/value-drivers">
            <div class="card w-500">
                <div class="card-body">
                    <div class="card-text">
                        <h3>Value Drivers</h3>
                    </div>
                </div>
            </div>
        </a>
        <a routerLink="/differentiators">
            <div class="card w-500 h-500">
                <div class="card-body">
                    <div class="card-text">
                        <h3>Differenciators</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</section>

<footer class="bg-light py-5">
    <div class="small text-center text-muted">Copyright © 2020</div>
</footer>