<header>
    <nav class="navbar navbar-light bg-white justify-content-between">
        <button *ngIf="this.path.length > 0" type="button" class="btn btn-light"
            (click)="searchKey(this.path[this.path.length-2])"><</button>
        <div class="navbar-brand">
            <a class="navbar-brand align-self-center" (click)="firstParse()">Valframe</a>
        </div>
        <div class="nav-item"><button (click)="logOut()" class="btn btn-light auth">Log out</button></div>
    </nav>
</header>

<div class="path align-items-stretch">
    <p  class="path_text align-self-center">
        <a *ngFor="let i of path" (click)="searchKey(this.i)"> {{ i.value }} > </a>
    </p>
</div>
<div class="container-fluid mx-10">
    <div class="card-columns justify-content-center">
        <a *ngFor="let key of keys" [ngClass]="{'disabled' : key.child === 'null',
    'abled': key.child!=='null'}" (click)="switchKey(this.key)">
            <div class="card mx-auto mb-3" id="card">
                <div class="card-body">
                    <div class="card-text">
                        <h5 class="card-title text-center font-weight-normal">{{key.value}}</h5>
                        <li class="card-text text-left" *ngFor="let i of key.desc.value">{{i}}</li>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>